
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}

nav {
    text-align: center;
}

p {
    font-family: 'Karla', sans-serif;
}

.blog-post {
    border: 2px solid black;
    color: pink;
}
