body {
    font-size: 1.1rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #4a4a4a !important;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #e98d87 !important;
}

h4 {
    color: #e98d87 !important;
}

nav {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: gray;
  }

.nav-link {
    font-size: 1.5em;
}

p {
    font-family: 'Karla', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

hr {
    height: 5px;
    margin: 5px 8.3vw 5px 8.3vw;
    border-radius: 5px;
}

.blog-post-link h2 {
    color: white !important;
}

.background-yellow {
    background-image: url(/img/yellow.png)
}

.background-pink {
    background-image: url(/img/pink.png)
}

.background-green {
    background-image: url(/img/green.png)
}

main {
    margin-top: 10px;
}
