
h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

nav {
    text-align: center;
}

p {
    font-family: 'Karla', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

.blog-post {
    border: 2px solid black;
    color: pink;
}

.blog-content {
    color: pink;
}
